math/linear_algebra/__pycache__/2-size_me_please.cpython-312.pyc
math/linear_algebra/__pycache__/3-flip_me_over.cpython-312.pyc
math/linear_algebra/__pycache__/4-line_up.cpython-312.pyc
math/linear_algebra/__pycache__/5-across_the_planes.cpython-312.pyc



*.pyc
__pycache__/
