math/linear_algebra/__pycache__/2-size_me_please.cpython-312.pyc
math/linear_algebra/__pycache__/3-flip_me_over.cpython-312.pyc
math/linear_algebra/__pycache__/4-line_up.cpython-312.pyc
math/linear_algebra/__pycache__/5-across_the_planes.cpython-312.pyc



*.pyc
__pycache__/
venv/
supervised_learning/data/Binary_Dev.npz
supervised_learning/data/Binary_Train.npz
supervised_learning/data/MNIST.npz
supervised_learning/classification/27-saved.pkl
e15dc34077165b5e69a6e84016f677cf33536b09.h5
supervised_learning/optimization/model.h5
data/Binary_Dev.npz
data/Binary_Train.npz
data/MNIST.npz
data/model.h5
supervised_learning/error_analysis/confusion.npz
data/labels_logits.npz
data/model_reg.h5
data/animals_1.npz
supervised_learning/transfer_learning/cifar10.h5
supervised_learning/object_detection/coco_classes.txt
.gitignore
supervised_learning/object_detection/yolo_images.zip
.gitignore
supervised_learning/object_detection/yolo.h5
*.jpg
supervised_learning/object_detection/yolo_images/yolo/dog.jpg
.gitignore
supervised_learning/object_detection/yolo_images/yolo/eagle.jpg
.gitignore
supervised_learning/object_detection/yolo_images/yolo/horses.jpg
supervised_learning/object_detection/yolo_images/yolo/giraffe.jpg
supervised_learning/object_detection/yolo_images/yolo/person.jpg
supervised_learning/object_detection/yolo_images/yolo/takagaki.jpg
supervised_learning/neural_style_transfer/arvgg.h5

.gitignore
unsupervised_learning/dimensionality_reduction/mnist2500_labels.txt
.gitignore
unsupervised_learning/dimensionality_reduction/mnist2500_X.txt
unsupervised_learning/gan/0-main.py
unsupervised_learning/gan/small_res_faces_10000.npy
unsupervised_learning/gan/discriminator.h5
unsupervised_learning/gan/generator.h5
supervised_learning/time_series/dataset/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv.zip
supervised_learning/time_series/dataset/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv.zip
